main {
    width: 80%;
    height: 50vh;
    padding: 5rem;
    margin: 2rem auto;
    background-color: aliceblue;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;


}
.numeros,
.operadore {
    justify-self: center;
    align-items: center;
}


h1 {
    color: red;
    display: inline;
    font-size: 25px;
}

span {
    color: green;
    font-size: 25px;
}

